.qr-code {
  background-color: $orange-bg;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .qr-code__content {
    padding: 8rem 0;
  }

  .qr-code__title {
    color: $white;
  }

  .qr-code__text {
    color: #101010;
    margin-top: 1.6rem;
  }

  .qr-wrapper {
    margin-top: 3rem;
    display: flex;
    align-items: center
  }

  .qr-code__subtitle {
    @include text-basic (3rem, 900, #FFFFFF50, 4rem );
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-left: 4.8rem;
  }
}