.resourses {
  padding: 8rem 0;

  .resourses__title {
    text-align: center;
  }

  .feature__content {
    .feature__text {
      margin-top: 1.6rem;
      height: 4.8rem;

      &::after {
        width: 25%;
      }
    }
  }
}