.welcome {
  background-image: url(../assets/images/Group_42.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  
  .container {
    display: flex;
    justify-content: space-between;
    

    border-bottom: 1px solid #D9D9D9;
  }
}

.welcome__content {
  z-index: 5;

  width: 55%;
  margin-top: 12rem;
  margin-bottom: 17.5rem;

  .welcome__title {
    position: relative;

    &::after {
      content: url(../assets/images/icons/idea_icon.svg);
      position: absolute;
      top: -35%;
      right: 35%;
    }
    &::before {
      content: url(../assets/images/icons/Underline\ 5.svg);
      position: absolute;
      bottom: -27%;
      right: 21%;
    }
  }

  .welcome__text {
    margin-top: 4rem;
  }

  .buttons-wrapper {
    column-gap: 2rem;
    margin-top: 3.2rem;
  }

  .promo {
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 0.225px;
    text-transform: uppercase;
    opacity: 0.2;
    margin-top: 2.2rem;
    display: flex;
    align-items: center;

    &::before {
      content: url(../assets/images/icons/material-symbols_magic-button.svg);
      margin-right: 1rem;
    }
  }

}

