.buttons-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.button {
  @include flexible ();
  background-color: $primary-btn-bg-08;
  border: 1px solid $primary-btn-bg;
  border-radius: 0.8rem;
  color: $primary-btn-bg;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.button--primary {
  background-color: $primary-btn-bg;
  border: none;
  color: $white;
}

.header__login {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2px;
}

.feature__button {
  font-size: 1.5rem;
  color: $white;
  line-height: 2rem;
  font-weight: 500;

  padding: 1rem 1.6rem;
  border: none;
  border-radius: 8px;
  background-color: $heading-color;

  cursor: pointer;
}

.filter__button {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: $neutral-900;

  border: none;
  border-radius: 100;
  background-color: rgba(217, 217, 217, 0.24);
  padding: 1rem 2.4rem;
  cursor: pointer;
}

.filter__button.active {
  color: $white;
  background-color: $heading-color;
}