.buttons-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.button {
  @include flexible ();
  background-color: $primary-btn-bg-08;
  border: 2px solid $primary-btn-bg;
  border-radius: 0.8rem;
  color: $primary-btn-bg;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.button--primary {
  background-color: $primary-btn-bg;
  border: none;
  color: $white;
}

.header__login {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2px;
}