$heading-color: #333333;
$neutral-900: #111827;
$neutral-700: #374151;
$bg-color-blue: #BFE7E8; 
$primary-btn-bg: #5EC3C5;
$primary-btn-bg-08: #5EC3C508;
$white: #FFFFFF;


$content-width: 1440px;
$mobile-width: 375px;