* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Neue Haas Unica', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: $neutral-900;
}

ul {
  list-style: none;
}


